<nav class="nav navbar-expand-sm">
  <ul class="nav navbar-nav navbar-left">
    <li class="nav-item">
      <a routerLink="athletes" class="nav-link" routerLinkActive="active" style="color: white;">Current Athlete Roster</a>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
      <a routerLink="add" class="nav-link" routerLinkActive="active" style="color: white;">Add Athlete</a>
    </li>
  </ul>
</nav>

<div class="container">
  <br>
  <h2 style="text-align: center; color: white;">{{title}}</h2>
  <br />
  <h4 style="text-align: center; color: white;"> {{subtitle}}</h4>
  <hr>
  <div class="card">
    <div class="card-body">
<!--      <h2>YOU. GOT. THIS.</h2>-->
<!--      <br />-->
<!--      <h3>Sign up for the Olympic Trials. </h3>-->
<!--      <br />-->
<!--      <h4>You won't regret it.</h4>-->
<!--      <br />-->
<!--      <h6>Not even with the Coronavirus.</h6>-->
      <router-outlet></router-outlet>
<!--      <img src="tracklanes.jpg" class="img-fluid" alt="tracklanes">-->
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>Just full-stackin' bruh</span>
  </div>
</footer>
